# Virtual environments
.venv/
.env
__pycache__/
*.pyc

# Poetry files
poetry.lock

# VS Code
.vscode/

# Test and coverage output
htmlcov/
.tox/
.coverage
.pytest_cache/

# OS junk
.DS_Store
Thumbs.db

# DuckDB artifacts
data/*.duckdb
data/**/*.duckdb

# Generated dumps
data/dumps/
data/**/*.json

# cache
data/cache/

*.Identifier

*.log
